
@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff2') format('woff2'),
			 url('../fonts/RobotoCondensed/RobotoCondensed-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff2') format('woff2'),
			url('../fonts/RobotoCondensed/RobotoCondensed-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Forum';
	src: url('../fonts/Forum/Forum.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
