


a {
  color:#fff;
  transition: .5s;
  &:hover {
    color: #2F8B5F;
    transition: .5s;
  }
}
.fa {
  color: inherit;   //font-awesome наследовать цвет текста
}
.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}
body{
  background:   #1E051A;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #E1E1E1;
}
section{
  padding-bottom: 130px;
  @include md(padding-bottom, 80px);
  @include xs(padding-bottom, 40px);
}
.row {
  @include row-flex();
  padding: 30px 0;
}
.nowrap{
  flex-wrap: nowrap;
}

.bgLighGrey{
  background: #162628;
}

// 2560x1440
// 1920x1080
// 1680x1050
// 1600x900
// 1536x864
// 1440x900
// 1366x768
// 1360x768
// 1280x1024
// 1280x800
// 1280x720
// 1024x768
// 768x1024
// 412x892
// 360x780
// 360x720
// 360x640
// 360x760
// 393x851
// 375x667