// Цвета

$trb: 0.5s;  // общий transition на сайте
$trs: 0.3s;  // общий transition на сайте

$btn_text: #FFFFFF;
$btn_bg: linear-gradient(92.25deg, #0C3E29 0%, #046034 69.79%, #0C3E29 100%);

$text_i: #fff;