$tr-on: .5s;
$b-r: 0px;
$btn_bg: #CB76C2;
$bg_activ: #2D0629;
$btn_text: #fff;
$box-shadow: 0 ;



.flexBtn {
  display: flex;
  justify-content: center;
  .link {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    text-align: center;
    transition: $tr-on;
    border: 1px solid #CB76C2;
    border-radius: $b-r;
    box-shadow: $box-shadow;
    background: $btn_bg;
    color:  $btn_text;
    font-weight: 600;
    box-sizing: border-box;
    

    svg,
      path {
        transition: $tr-on;
        fill: inherit;
      }

    &:hover {
      transition: $tr-on;
      color: #F2FEF9;
      background: $bg_activ;
      svg,
      path {
        transition: $tr-on;
        fill: initial;
      }
    }
  }
}