.footer {

  &__title {
  }

  .row {
    // padding: 0;
  }
  .col {
    @include col();
  }
  .blokContent {
    @include col();
    @include size(6);
    @include size-md(12);
    padding: 0 50px;
  }
  .contacts {
    justify-content: space-between;

    &__title {
      font-weight: bold;
font-size: 28px;
line-height: 120%;
padding-bottom: 18px;
width: 100%;
    }
  }
  .adressCol {
  }
  
  .link {
    font-size: 16px;
    line-height: 120%;
    
  }
  .adress {
    position: relative;
    padding: 0 25px;
    &::before{
      content:'\f041';
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      color: #CB76C2;
    }
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
  }
  .phone{
    position: relative;
    padding: 0 25px;
    &::before {
    content: '\f095';
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    color: #CB76C2;

  }
  }
  .mail {
    position: relative;
    padding: 0 25px;
    &::before{
      content:'\f0e0';
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 2px;
      color: #CB76C2;
      font-size: 16px;
    }
  }
  .formBlock {
  }
  .formCallBack {
    width: fit-content;


    &__title {
    }
    .blockInputs {
      input{
        max-width: 400px;
      }
    }
    .blockButton {
    }
    .flexBtn {
    }
  }
  .info {
    align-self: flex-end;
    margin-left: auto;
  }

  .openingHours {
    padding: 30px 0;
    

  
      &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: #E1E1E1;
      }
  }
  .clock {
    position: relative;
    padding: 0 25px;
    font-size: 16px;
    &::before{
      content:'\f017';
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 2px;
      color: #CB76C2;
      
    }
  }
  .social {
    padding: 30px 0;
    
  
      &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: #E1E1E1;
      }
  }
  .link {
    .fa{padding: 15px;}
    
  }
  
  .blokMap {
    @include col();
    @include size(6);
    @include size-md(12);
  }
}