.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
&::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 6, 41, 0.05);
}
  &__body {
  }

  &__logo {
  }

  &__burger {
  }

  &__menu {
  }

  &__list {
  }

  &__link {
  }
}
.container {
}


